h1 {
    font-family: sans-serif;
    font-size: 150px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 20px;
    margin-bottom: 20px;
}

#gameContainer {
    justify-content: center;
    text-align: center;
    display: flex;
}

#highScoreContainer {
    text-align: center;
    position: relative;
    right: 150px;
}

#highScoreText {
    font-family: sans-serif;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    display: inline;
}

#highScore {
    font-family: sans-serif;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    display: inline;
}

#playerScoreContainer {
    text-align: center;
    position: relative;
    left: 185px;
}

#playerScoreText {
    font-family: sans-serif;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    display: inline;
}
#playerScore {
    font-family: sans-serif;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    display: inline;
}

#gameBoard {
    border: 3px solid;
    position: relative;
    right: 95px;
}

#diffButtons button{
    display: block;
    width: 100%;
    padding: 25px 50px;
    position: relative;
    top: 125px;
    border: 3px solid black;
    right: 110px;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
}

#diffButtons button:not(:last-child) {
    border-bottom: none;
}

#diffButtons button:hover {
    background-color: gray;
}

a {
    text-decoration: none;
}

.fa-linkedin {
    position: relative;
    right: 2%;
    color: #0072b1;
}

.fa-envelope {
    color: black;
}

.fa-github{
    position: relative;
    left: 2%;
    color: #171515;
}

footer {
    margin: 20px;
    text-align: center;
}